.ideationcard
  .typology(style="background-color: rgb(" + typologyColor.r + "," + typologyColor.g + "," + typologyColor.b + ");")= Typologie
  .name= Nom
  img.holder(src="img/typologies/logo_" + Détenteur.toLowerCase() + ".png", title=Détenteur)
  .description= Description
  .frequency= Fréquence
