/* Layout

@media (max-width: 992) and (min-width: 750)
*/

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #666;
}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  color: #aaaaaa;
  font-family: "Grand Hotel", cursive;
  font-size: 40px;
  line-height: 41.5px;
  margin: 0;
  text-align: center;
  margin-top: 33px;

  margin-top: 50px;
  margin-bottom: 5px;
}

#period_filter {
  font-size: 20px;

}


#list_container {
  /*! position: absolute; */
  /*! top:100%; */
  width:  200px;
  /*! right:  0px; */
  /*! margin-top: 30px; */
  padding:  20px;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  background:  #F1F1F1;
}

#documentation h3 {
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  font-size: 50px;
  color: #aaaaaa;
  line-height: 41.5px;
}

#documentation h4 {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 12px;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #555;
}

#documentation ul.doctypes {
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  list-style: none;

  padding:  0px;
}
#documentation .toggle {
  cursor: pointer;

}


#list_container {
  display: none;
}

#word_filter {
  width: 160px;
  position: absolute;
  left: 20px;
  top:20px;

  /*! background: white; */
  border:  0;
  border-radius: 2px;
  padding: 5px;
  z-index: 2000;
}

#word_filter_submit {
  position: absolute;
  left: 173px;
  top: 25px;
  z-index: 2001;

}

#documentation {
  /*! display: none; */
  float: left;
  overflow-x:  hidden;
  overflow-y: auto;
  /*! border:  5px solid #CCC; */
  /*! margin-left:  10px; */
  padding:  20px;
  width: 90%;

}

#documentation ul {
  margin-bottom: 10px;
}

#documentation .subsets {
  /*! margin-left: 0px; */

  padding-left:  0px;
}

#documentation ul.subsets > li {
  list-style: none;
  /*! line-height: 30px; */
}
#documentation li.expanded {
  margin: 30px 0px;

}


#documentation ul.subsets li h4 {
  display: inline;
  margin-left:  10px;
}

#documentation ul.subsets li h4:after {
  content: '◢';
  font-size: 50%;
  position: relative;
  left: 8px;
  bottom: 1px;
}

#documentation ul.subsets .expanded h4:after {
  content: '▲';
  font-size: 50%;
  position: relative;
  left: 8px;
  bottom: 1px;
}

#documentation ul.subsets li .detenteur {
  float: left;

}
#documentation ul.subsets li .detenteur img {
  max-height: 25px;

  max-width: 25px;
  position: relative;
  top: 3px;
}


#documentation .details {
  /*! margin-bottom: 20px; */
  /*! padding:  10px; */
  margin: 20px 10px;
}
#documentation .subset {
  width: 49%;
  float: left;
  margin-bottom: 20px;
}

#documentation .caracteristiques {
  list-style: none;

  padding: 0px;
}
#documentation .doctype {
  width: 50%;
  float: right;
}

#documentation .subset p {
  font-size: 18px;
  /*! padding:10px; */
  margin:  0px 0px 10px 0px;
}

#documentation .subset ul{

}

#documentation .subset li {
  line-height: 16px;
  color: #666;
}

#documentation .doctype {
  background-color: #EEE;
  color:  #555;
  margin-bottom:  20px;
  border-radius: 2px;
  padding: 15px;
  box-sizing: border-box;
}
#documentation .doctype p {
  /*! padding: 0px 10px; */
  margin:  0.5em;
  font-size: 90%;
}

#documentation h5 {
  /*! color: #333; */
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  margin:  0px 0px 10px 0px;
  /*! padding:  5px; */
}

#documentation h6 {
  margin: 0.5em 0;
  /*! padding: 0px 10px; */
  font-size:  13px;
}

#documentation .doctype .similaires ul {
  padding-left: 15px;
}
#documentation .doctype .similaires li {
  line-height: 16px;

  list-style-type: disc;
}
#documentation p {
    font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}
#documentation table {
  width: 100%;
  border: 1px solid #dddddd;

  border-spacing: 0px;

  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

#documentation tbody tr:nth-of-type(odd) {
      background-color:#f9f9f9;
}
#documentation th,
#documentation td {
  border: 1px solid #dddddd;
  text-align: left;
  vertical-align: top;
  padding: 8px;
 /*! border-collapse: separate; */
  /*! font-size: 14px; */
  word-break: break-all;
}
#documentation th {
  font-size: 18px;
  width: calc(100% / 4);
}
#documentation td {
  line-height: 1.2em;

}
#documentation td.nom {
  font-weight: bold;
  font-size:18px;
  /*! width: 20%; */
  /*! word-break: keep-all; */
  vertical-align: middle;
  width:  25%;
}
#documentation td.description {
  /*! min-width: 30%; */
  width:  40%;
}

#documentation td.exemple {
  color: #666666;
  /*! overflow:  auto; */
  /*! height:  20px; */
  /*! width: 25%; */
  width:  35%;
}

#documentation td.exemple pre {
  margin:  0px;
  /*! max-height: 50px; */
  /*! overflow: auto; */
}

#documentation td.format {
  color: #666666;
  /*! width: 25%; */
}

#documentation tbody.compact tr.showmetadata td {
  border: none;
  font-size: 90%;
  font-weight: normal;
  color: #aaa;
  background-color:#fdfdfd;
  cursor: pointer;

}

#documentation tbody.expanded tr.showmetadata td {
  border: none;
}


#documentation tbody.compact tr.metadata {
  display: none;
}

#documentation tbody.expanded tr.metadata {
}


h2 {
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  /*! margin: 0px auto 80px; */
  max-width: 760px;
  font-weight:  bold;
  color:  #333;
}

h3 {
  color: #333;
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  /*! font-size: 20px; */
  text-decoration: italic;
  /*! margin-left: 40px; */
  margin-bottom:  5px;
  font-weight: bold;
}

h4 {
  color: #333;
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-decoration: italic;
  /*! margin-left: 40px; */
  margin-bottom:  5px;
  font-weight: bold;
}


#container {
  width: 100%;
}
#map_container {
  /* width and height overriden by css. */
  width: 80vw;
  height: 80vw;
  position: relative;
  /*! width: 30%; */
}

#workarea {
  position: relative;
  /*! height: 100%; */
  /*! left: 0px; */
  float: left;
  /*! position: fixed; */
}

#zoom {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mapbg {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  z-index: 1000;
}

.mapelem {
  position: absolute;
}

#Center {
  opacity: 1 !important;

      -webkit-filter: none !important;
       -moz-filter: none !important;
         -o-filter: none !important;
        -ms-filter: none !important;
            filter: none !important;
}

#opendatagl {
  width: 100px;
  bottom: 10%;
  left: 3%;

}
img.grayed {
  opacity: 0.6;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}

.provider {
  position: absolute;
  z-index: 1010;
  height:  2%;
  margin-top:  -1%;
  margin-left:   -1%;
}

.layer {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+      */
}

#buttons {
  /*! position: absolute; */
  /*! top: 0px; */
  /*! height: 50px; */
  width: 100%;
  text-align: center;
}

#buttons img {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  z-index: 2000;

  cursor: pointer;
}

.defi {
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  opacity: 0.5;
  padding:  10px;
  cursor:   pointer;
}

#zoomcontrols {
  position: absolute;
  height: 60px;
  width: 30px;
  right: 15px;
  bottom: 15%;
}

#zoomcontrols img {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 2000;
  cursor: pointer;

}

#legend {
  position: absolute;
  right: 20px;
  padding: 20px;
  height: 80%;
  overflow: auto;
  border: solid 10px rgba(150, 150, 150, 0.3);
  margin-top: 10px;
}


@media (min-width: 992px) {
  #workarea {
    position: fixed;
  }
  #map_container {
    width: 500px;
    height: 500px;
  }
  #documentation {
    margin-left: 500px;

    width: calc(100% - 550px);
  }
}
/*
@media (max-width: 1150px) {
  #legend {
    top: 100%;
    width: 80%;
    height: auto;
    right: 50%;
    margin-right: -43%;
    margin-top: 300px;
  }

  #workarea {
    width:  669px;
    height: 669px;
  }
}
*/

#legend h3 {
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0px;
  cursor: pointer;

}

#legend p {
  /*font-family: gothamrndlightita ;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
  margin-top: 0px;
  cursor: pointer;

}

#credits {
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 3%;
}

#credits #version {
  height: 60%;
  margin-bottom: 6px;
}

#credits #creditsbam {
  height: 60%;
  margin-bottom: 6px;
}

#credits #creditscc {
  height: 80%;
  margin: 5px;
}

#credits #creditsfing {
  height: 100%;
}

#credits #csv {
  height: 100%;
  margin-left: 20px;
}


#credits #print {
  height: 80%;
}

#feedback {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #00A44280;
  border-radius: 2px;
  padding: 0 5px 5px 5px;
  cursor: pointer;
}

#feedback.expanded {
padding: 10px;
}

#feedback img {
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 5px;
  /*! margin-top: 5px; */
}

#feedback span {
  line-height: 12px;
    color: white;
}

#feedback.expanded iframe {
  display: block;
}

#feedback iframe {
  display: none;
  border: none;
  margin-top: 10px;
}

/* Popins */

.listpopin .close, .detailpopin .close {
  position: absolute;
  right: 5px;
  top: 3px;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  width: 13px;
}

.detailpopin, .listpopin {
  position: absolute !important;
  top: 20%;
  left: 45%;
  background: white;
  z-index: 2000;
}

.listpopin {
  width: 250px;

}
.detailpopin {
  width: 270px;
}

.listpopin .header {
  height: 60px;
  width: 100%;
  color: white;
  background: rgb(35, 189, 182) none repeat scroll 0% 0%;
}

.listpopin .header h3 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: #FFF;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  width: 185px
}

.listpopin .header .icon {
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  margin: 13px 0px 13px 13px;
}

.listpopin .list {
  overflow: auto;
  max-height: 220px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;

  /*border*/: solid 3px rgb(35, 189, 182);
}

.listpopin .list li {
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 10px;
}
.listpopin .list li span {
  cursor: pointer;
}

.listpopin .list .referentiallink {
  height: 20px;
  float: right;
  cursor: pointer;
}

.listpopin h4 {
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 15px;
}

.listpopin ul {
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.detailpopin {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 180px;
  background: white;
  z-index: 1000;

  border: 1px solid rgb(157, 157, 157);

}

.detailpopin .title {
  background-color: #FFCA00;
  color: white;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  padding: 12px;
  font-size: 12px;

}

.detailpopin .header {
  position: relative;
}



.detailpopin h4 {
  background-color: #F6F6F6;
  color: #9D9D9D;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  padding-left: 17px;
}

.detailpopin .header img {
  position: absolute;
  top: -2px;
  left: 5px;
  width: 24px;
}

.detailpopin p {
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  margin: 12px;
}

.detailpopin p a {
  color: #666;
}

.detailpopin .accesseasiness {
  background-color: #F6F6F6;
  color: white;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}
.detailpopin .accesseasiness h4 {
  margin-bottom: 0px;
}

.detailpopin .accesseasiness img {
  height: 25px;
}




@media print {
  html, body {
    width: 750px;
    margin: 0;
    padding: 0;
    background: #FFF;
  }
}