@font-face {
  font-family: scalabold;
  font-weight: bold;
  src: url("../fonts/ScalaSans-BoldLF.otf") format("opentype");
}

@font-face {
  font-family: scalaregular;
  font-weight: regular;
  src: url("../fonts/ScalaSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: scalalight;
  font-weight: light;
  src: url("../fonts/ScalaSansLight.otf") format("opentype");
}

@font-face {
  font-family: gothamrndbold;
  font-weight: bold;
  src: url("../fonts/GothamRnd-Bold.otf") format("opentype");
}

@font-face {
  font-family: gothamrndbookita;
  font-weight: regular;
  src: url("../fonts/GothamRnd-BookIta.otf") format("opentype");
}

@font-face {
  font-family: gothamrndlightita;
  font-weight: light;
  src: url("../fonts/GothamRnd-LightIta.otf") format("opentype");
}


h1 {
  font-family: gothamrndbold;
  font-weight: bold;
  font-size: 240%;
  color: #017E8C;
  text-align: center;
}

#container {
  /* width and height overriden by css. */
  width: 1024px;
  height: 600px;
  left: 50%;
  position: absolute;
  margin-left: -50%;

  /*margin-top: 10%;*/
}
/*#container > div {  
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}*/

#container img, h2 {
  position: absolute;
  /*height: 100%;*/
  /*width: 100%;*/
}

#container h2 {
  font-family: scalabold;
/*font-weight: bold;*/
  font-size: 120%;
  max-width: 11%;
  text-align: center;
}

#fond {
  width: 100%;
  height: 100%;
}

#legend {
  position: absolute;
  right: 0px;
  bottom: 20px;
  width: 300px;
  padding: 20px;
  box-shadow: 0px 0px 6px 10px rgba(150, 150, 150, 0.3);
}

#legend h3 {
  font-family: gothamrndbold;
  font-size: 13px;
  text-transform: uppercase;
margin-bottom: 0px;

}

#legend p {
  font-family: gothamrndlightita ;
  font-size: 11px;
margin-top: 0px;
}

/* Popins */

.listpopin .close, .detailpopin .close {
  position: absolute;
  right: 10px;
  top: 6px;
  font-family: scalabold;
  font-size: 17px;
  cursor: pointer;
}

.listpopin {
  position: absolute;
  top: 20%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  width: 300px;
  background: white;
  z-index: 1000;
}

.listpopin .header {
  height: 70px;
  color: white;

  background: rgb(35, 189, 182) none repeat scroll 0% 0%;  
}

.listpopin .header h2 {
  width: 220px;
  text-align: center;
  font-family: scalabold;
  font-size: 13pt;
  padding: 0;
  margin-left: 55px;
  margin-right: 25px;
  color: white;
  text-transform: uppercase;
}

.listpopin .header .icon {
  position: absolute;
  height: 35px;
  left: 17px;
  top: 17px;
}

.listpopin .list {
  overflow: auto;
  max-height: 400px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;

  /*border*/: solid 3px rgb(35, 189, 182);
}

.listpopin .list li {
  font-family: scalalight;
  font-size: 12px;
  margin-bottom: 10px;
}
.listpopin .list li span {
  cursor: pointer;
}

.listpopin .list .referentiallink {
  height: 30px;
  float: right; 
  cursor: pointer;
}

.listpopin h4 {
  font-family: scalabold;
  font-size: 14px;
  margin-left: 15px;
}

.listpopin ul {
  margin-left: 15px;
  padding-left: 10px
}

.detailpopin {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 270px;
  background: white;
  z-index: 1000;

  /*border*/: solid 10px;
}

.detailpopin .header {
  position: relative;
}



.detailpopin h4 {
  background-color: rgb(197, 197, 197);
  color: white;
  font-family: scalabold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

.detailpopin .header img {
  position: absolute;
  top: -7px;
  left: 20px;
  width: 40px;
}

.detailpopin p {
  font-family: scalalight;
  font-size: 12px;
  margin: 12px;
}

.detailpopin p.desc {
  margin-right: 30px;
}

.detailpopin .accesseasiness {
  background-color: rgb(197, 197, 197);
  color: white;
  font-family: scalabold;
  font-size: 20px;
  line-height: 35px;  
  text-align: center;
}

.detailpopin .accesseasiness h4 {
  margin-bottom: 0px;
}

.detailpopin .accesseasiness img {
  height: 35px;
}



/* MIS */
#donneesnonpersonnelles {
  position: absolute;
  width: 26%;
  top: 20%;
  left: 11%;
}

#donneespersonnelles {
  position: absolute;
  left: 50%;
  top: 10%;
  width: 36%;
  height: 100%;
  z-index: 100;
  margin-left: -18%;
}
#caracteristiques {
  position: absolute;
  width: 26%;
  top: 20%;
  right: 11%;
}

#referentielnormes {
  width: 51.4%;
  left: 1.6%;
  margin-top: 0.4%;
  /*height: 100%;*/

}

#contexte {
  width: 50%;
  right: 0%;
  top: 0%;
  /*height: 100%;*/

}

#dpm {
  width: 48.5%;
  left: 3.5%;
  top: 0.2%;
}

#dpnm {
  width: 50%;
  right: 0%;
  /*height: 100%;*/

}

#profil {
  left: 50.5%;
  margin-left: -33.2%;
  width: 67%;
  margin-top: 47.6%;
}

#caractpdt {
  margin-top: 0%;
  width: 47.8%;
  left: 4.5%;
  /*height: 100%;*/

}

#caractmed {
  width: 50%;
  right: 0%;
  top: 0%;
  /*height: 100%;*/

}

#pindnp {
  left: 14.4%;
  width: 3%;
  top: 14%;
}

#titlednp {
  color: #23BDB6;
  left: 11%;
  top: 2%;
}

#pindp {
  left: 49%;
width: 3%;
top: 5%;
}

#titledp {
  color: #017E8C;
  left: 45%;
  top: -5%;
}

#pincaract {
  top: 14%;
  left: 83.2%;
  width: 3.5%;
}

#titlecaract {
  color: #EC4B36;
  right: 10%;
  top: 2%;
}

#iconreferentiels {
  width: 11%;
left: 35%;
padding-top: 7%;
}

#iconcontexte {
width: 15%;
right: 30%;
padding-top: 7%;
}
#icondpm {
width: 11%;
left: 35%;
padding-top: 7%;
}
#icondpnm {
width: 11%;
right: 34%;
padding-top: 6%;
}

#iconprofil {
width: 7%;
left: 47%;
padding-top: 58%;
}

#iconuser {
width: 11%;
left: 45%;
padding-top: 43%;
}

#iconcaractpdt {
width: 15%;
left: 32%;
padding-top: 7%;
}

#iconcaractmed {
width: 13%;
right: 31%;
padding-top: 7%;
}